<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Healthcare Predictor</title>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
</head>

<body>
  <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
        <a class="navbar-brand" routerLink="./main">Healthcare Predictor</a>
        
        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <a class="nav-link" href="./track">Track Health</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./predictor">Predict Health/Disease</a>
          </li>
        </ul>
      

        <button class="btn btn-outline-success m-1" (click)="logout()"><b>Log Out</b></button>

      </nav>

  

  <router-outlet></router-outlet>


</body>

</html>